h1 'Sup Homie
if (!user)
    h2 You are not logged in!

    a(href="/auth/github")
        img(src='assets/images/githubLogin.png')
else
    h2
        = "Hello, " + user + "."

    p= 'Not you? Click '
        a(href = '/logout') here
        = " to sign out."

h3= 'Click '
    a(href = '/account') here
    = ' to see secrets for only Github members!'

if (secretMessage)
    h1= 'The secret message is:\n' + secretMessage